<!-- Adapted from Bootstrap https://getbootstrap.com/docs/4.5/getting-started/introduction/ 
Uses Jumbotron uses container
-->
{{> navbar}}
<div class="jumbotron jumbotron-fluid dive-display-header">
    <div class="container">
        <h1 class="display-4"> Pick your Features for this Location</h1>
    </div>
</div>

<div class="container-fluid">
  <form action="/locations/addFeature" method="POST">
    <div class="row">
      {{#each features}}
        <div class="card col-sm-4 col-md-3 dive-card">
                <p>{{this.locFeatureName}}</p>
                <div class="card-body">
                <img src="{{this.featureURL}}" alt="">
                <input type="checkbox" name="{{this.featureID}}" value="{{this.featureID}}"/>
                    </p>
                </div> 
        </div> 
      {{/each}}
    </div>
    <input type = "hidden" name = "locationID" value = "{{locationID.locationID}}"/>
    <button class="btn-1">Add Location Features</button>
  </form>
</div>