<!-- Adapted from Bootstrap https://getbootstrap.com/docs/4.5/getting-started/introduction/ 
Uses Jumbotron uses container
-->
{{> navbar}}
<div class="jumbotron jumbotron-fluid dive-display-header">
    <div class="container">
        <h1 class="display-4"> Pick your Fish for this dive</h1>
    </div>
</div>

    <div class="container-fluid">
        <form action="/dives/addFish" method="POST">
            <div class="row">
                {{#each fish}}
                <div class="card col-sm-4 col-md-3 dive-card">
                    <p>{{this.commonName}}</p>
                    <div class="card-body">
                        <img src="{{this.imageURL}}" alt="">
                        <input type="checkbox" name="{{this.fishID}}" value="{{this.fishID}}" />
                        </p>
                    </div>
                </div>
                {{/each}}
            </div>
    <input type="hidden" name="diveID" value="{{diveID.diveID}}" />
    <button class="btn-1">Add Fish to Dive</button>
    </form>

</div>